 body {
     margin: 0;
     padding: 10px 0 0 0;
 }
 
 #root {
     display: flex;
     flex-flow: row wrap;
     flex-direction: row;
     /*定义空余空间的分配*/
     align-items: stretch;
     height: 400px;
 }
 
 #root > .child {
     border: 1px solid black;
 }
 
 .child {
     display: flex;
     flex-grow: 1;
     border: 1px solid red;
     margin: 30px;
     width: auto;
     background-color: #fff;
     transition: background-color 0.3s ease;
 }
 
 #focus {
     background-color: aqua;
 }
 
 #highlight {
     background-color: sienna;
 }
 
 #searchResult {
     display: inline-block;
     margin: 0;
 }
