* {
		padding: 0;
		margin: 0;
	}
	body {
		width: 800px;
		margin: 0 auto;
	}
	#tag_box {
		margin: 20px auto;
	}
	#tag_list {
		display: flex;
	}
	#tag_list span{
		background-color: #78BCFB;
		color: #fff;
		cursor: pointer;
		padding: 8px;
		margin: 2px 5px;
	}
	#hobby_box {
		margin: 20px auto;
	}
	#hobby_list {
		display: flex;
	}
	#hobby_list span{
		background-color: orange;
		color: #fff;
		cursor: pointer;
		padding: 8px;
		margin: 2px 5px;
	}
	button {
		margin-top: 5px;
		padding: 3px;
	}