<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>利用v-for输出列表</title>
</head>
<body>

    <div id="vueInstance">
        <ul>
            <li v-for="el in products">
                {{ $index }} -{{ el.name }} - ￥ {{ el. price }} - {{ el. category }}
            </li>
            <li v-for="(index,el) in products">
                {{ index }} -{{ el.name }} - ￥ {{ el. price }} - {{ el. category }}
            </li>
        </ul>
    </div>

    <script src="http://cdn.jsdelivr.net/vue/1.0.16/vue.js"></script>
    <script>
          // 创建一个新的Vue实例，并设置挂载点
          var V = new Vue({
                el : '#vueInstance',
                data : {
                    products : [
                         {name: 'microphone', price: 25, category: 'electronics'},
                         {name: 'laptop case', price: 15, category: 'accessories'},
                         {name: 'screen cleaner', price: 17, category: 'accessories'},
                         {name: 'laptop charger', price: 70, category: 'electronics'},
                         {name: 'mouse', price: 40, category: 'electronics'},
                         {name: 'earphones', price: 20, category: 'electronics'},
                         {name: 'monitor', price: 120, category: 'electronics'}
                   ]
                }
          });
    </script>
</body>
</html>